.container {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.titulo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #222222;
    color: #ffbb33;
    text-align: center;
    width: 50%;
}

.albumFotos {
	width: 90%;
    margin-top: 10px;
	margin-left: auto;
    margin-right: auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}

.albumFotos li {
	float: left;
	width: 300px;
	height: 300px;
	margin: 10px;
	border: 5px solid black;
	background-color: #ffffff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	-webkit-transition: all .4s ease-in;
}

.albumFotos li span {
	opacity: 0;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0,0,0,.3);
	font-size: 9pt;
	line-height: 370px;
	padding: 5px;
}

.albumFotos li:hover {
	-webkit-transform: scale(1.5);
}

.albumFotos li:hover span {
	opacity: 1;
}

.foto01 {
	background: url('../../Imagens/Arduino.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff
}

.foto01:hover {
	background-position: 0px 0px;
	background-size: 300px 300px;
}

.foto02 {
	background: url('../../Imagens/Canos.jpeg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff
}

.foto02:hover {
	background-position: 0px 0px;
	background-size: 300px 300px;
}

.foto03 {
	background: url('../../Imagens/Interior01.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff
}

.foto03:hover {
	background-position: 0px 0px;
	background-size: 300px 300px;
}

.foto04 {
	background: url('../../Imagens/Interior02.jpeg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff
}

.foto04:hover {
	background-position: 0px 0px;
	background-size: 300px 300px;
}

.foto05 {
	background: url('../../Imagens/Interior03.jpeg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff
}

.foto05:hover {
	background-position: 0px 0px;
	background-size: 300px 300px;
}

.foto06 {
	background: url('../../Imagens/Interior04.jpeg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff
}

.foto06:hover {
	background-position: 0px 0px;
	background-size: 300px 300px;
}