.header {
    display: flex;
    background-color: #222222;
    color: #ffffff;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin-top: 100px;
    margin-left: 1200px;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
}

.item a {
    color: #ffffff;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
}

.img{
    margin-top: 2px;
    width: 250px;

}

@media screen and (max-width: 1835px){
    .navbar {
        margin-left: 900px;
    }
}

@media screen and (max-width: 1500px){
    .navbar {
        margin-left: 600px;
    }
}

@media screen and (max-width: 1200px){
    .navbar {
        margin-left: 300px;
    }
}

@media screen and (max-width: 900px){
    .navbar {
        margin-left: 100px;
    }
}

@media screen and (max-width: 700px){
    .img {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .header{
        display: grid;
        grid-template-columns: 1fr;
    }

    .navbar {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}