.container {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.sucess{
    color: #155724;
    background-color: #D4EDDA;
    border-color: #C3E6CB;
}